[Unit]
Description=Page Turner Script
After=network.target pigpiod.service

[Service]
ExecStart=/home/pi/pageTurner/pageTurner.sh
WorkingDirectory=/home/pi/pageTurner
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target