[Unit]
Description=Page Turner Script
After=network.target pigpiod.service

[Service]
ExecStart=/home/pi/your_script.sh
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target